<% layout("/layouts/boilerplate") %>
<body>
    <h3> Product Details</h3>
    <img src="<%= listing.image.url %>" width="200" height="200" />
    <br>
    <%=listing.name %> <br>
    <%= listing.description %>   <br>
    <%= listing.type %> <br> 
    &#8377; <%= listing.price.toLocaleString("en-IN")%><br/>
    <%= listing.category %>
    <%= listing.availability %>
    
    <br> <br> <br> 
<div class="btns">
    <button type = "submit"> Add to cart </button>
    <a href = "/listings/<%= listing._id %>/pay" >
        <button> Buy Now </button></a>
</div>
</body>
